<h1>Reset Your Password</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>We received a request to reset your password for your OCNJ Weekly Rentals owner account.</p>

<p>
  <%= link_to "Reset Password", @reset_url %>
</p>

<p>This link will expire in 2 hours.</p>

<p>If you didn't request this, you can safely ignore this email.</p>
